{
  "openapi": "3.0.3",
  "info": {
    "title": "SALog API",
    "description": "SALog - Sudden Attack 핵 유저 닉변 추적/박제 플랫폼 API",
    "version": "1.0.0",
    "contact": {
      "url": "https://salog.kr"
    }
  },
  "servers": [
    {
      "url": "https://salog.kr",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "Admin", "description": "관리자 전용 엔드포인트" },
    { "name": "Analytics", "description": "페이지 분석" },
    { "name": "Auth", "description": "인증 및 계정 관리" },
    { "name": "HackReport", "description": "핵 신고" },
    { "name": "MannerReport", "description": "매너 신고" },
    { "name": "Profile", "description": "프로필 관리" },
    { "name": "Social", "description": "팔로우 및 블랙리스트" },
    { "name": "SuddenAttack", "description": "서든어택 게임 데이터" },
    { "name": "Barracks", "description": "병영 조회" },
    { "name": "Ranking", "description": "랭킹" },
    { "name": "Internal", "description": "내부 전용 (x-internal-key 필요)" },
    { "name": "Upload", "description": "파일 업로드" }
  ],
  "paths": {
    "/api/admin/dashboard": {
      "get": {
        "tags": ["Admin"],
        "summary": "대시보드 통계 및 최근 신고 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "대시보드 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "totalUsers": { "type": "integer" },
                        "totalReports": { "type": "integer" },
                        "totalMannerReports": { "type": "integer" },
                        "pendingReports": { "type": "integer" }
                      }
                    },
                    "recentReports": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Report" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/reports": {
      "get": {
        "tags": ["Admin"],
        "summary": "신고 목록 조회 (관리자)",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["hack", "manner"] } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "페이지네이션된 신고 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": { "type": "array", "items": { "$ref": "#/components/schemas/Report" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/reports/{id}/status": {
      "patch": {
        "tags": ["Admin"],
        "summary": "신고 상태 변경",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status", "adminNote"],
                "properties": {
                  "status": { "type": "string", "enum": ["SUSPECT", "PROBABLE", "CONFIRMED", "DISMISSED"] },
                  "adminNote": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "상태 변경 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/admin/manner/{id}/status": {
      "patch": {
        "tags": ["Admin"],
        "summary": "매너 신고 상태 변경",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": { "type": "string", "enum": ["PENDING", "CONFIRMED", "REJECTED"] },
                  "adminNote": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "상태 변경 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": ["Admin"],
        "summary": "유저 목록 조회",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "role", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "유저 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/users/role": {
      "post": {
        "tags": ["Admin"],
        "summary": "유저 역할 변경",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "role"],
                "properties": {
                  "userId": { "type": "string" },
                  "role": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "역할 변경 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/ban": {
      "post": {
        "tags": ["Admin"],
        "summary": "유저 밴 등록",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason", "type"],
                "properties": {
                  "userId": { "type": "string" },
                  "barracksAddress": { "type": "string" },
                  "reason": { "type": "string" },
                  "type": { "type": "string", "enum": ["WARNING", "TEMP", "PERMANENT"] },
                  "expiresAt": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "밴 등록 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "get": {
        "tags": ["Admin"],
        "summary": "밴 목록 조회",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "밴 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bans": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Ban" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "delete": {
        "tags": ["Admin"],
        "summary": "밴 해제",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["banId"],
                "properties": {
                  "banId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "밴 해제 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/ban/search": {
      "get": {
        "tags": ["Admin"],
        "summary": "밴 대상 유저 검색",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "nickname", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/admin/logs": {
      "get": {
        "tags": ["Admin"],
        "summary": "관리자 액션 로그 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "로그 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "action": { "type": "string" },
                          "adminId": { "type": "string" },
                          "targetId": { "type": "string" },
                          "details": { "type": "object" },
                          "createdAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/analytics": {
      "get": {
        "tags": ["Analytics"],
        "summary": "분석 데이터 조회",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "period", "in": "query", "schema": { "type": "string", "enum": ["today", "7d", "30d"], "default": "today" } }
        ],
        "responses": {
          "200": {
            "description": "분석 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageViews": { "type": "integer" },
                    "uniqueVisitors": { "type": "integer" },
                    "topPages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": { "type": "string" },
                          "views": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Analytics"],
        "summary": "페이지 방문 기록",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "기록 성공" }
        }
      }
    },
    "/api/auth/{...nextauth}": {
      "get": {
        "tags": ["Auth"],
        "summary": "NextAuth 핸들러 (GET)",
        "description": "NextAuth.js가 관리하는 인증 엔드포인트 (signin, signout, callback, session 등)",
        "parameters": [
          { "name": "...nextauth", "in": "path", "required": true, "schema": { "type": "string" }, "description": "NextAuth 경로 (e.g. signin, callback/discord)" }
        ],
        "responses": {
          "200": { "description": "NextAuth 응답" }
        }
      },
      "post": {
        "tags": ["Auth"],
        "summary": "NextAuth 핸들러 (POST)",
        "description": "NextAuth.js가 관리하는 인증 엔드포인트 (signin, signout, callback 등)",
        "parameters": [
          { "name": "...nextauth", "in": "path", "required": true, "schema": { "type": "string" }, "description": "NextAuth 경로" }
        ],
        "responses": {
          "200": { "description": "NextAuth 응답" }
        }
      }
    },
    "/api/auth/ban-info": {
      "get": {
        "tags": ["Auth"],
        "summary": "현재 유저 밴 정보 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "밴 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banned": { "type": "boolean" },
                    "ban": { "$ref": "#/components/schemas/Ban" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/auth/check-nickname": {
      "post": {
        "tags": ["Auth"],
        "summary": "닉네임 중복 확인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nickname"],
                "properties": {
                  "nickname": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "확인 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/complete-signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원가입 완료",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notificationEmail": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "가입 완료" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/auth/delete-account": {
      "post": {
        "tags": ["Auth"],
        "summary": "계정 삭제",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["confirm"],
                "properties": {
                  "confirm": { "type": "string", "example": "탈퇴합니다" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "계정 삭제 완료" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/auth/refresh-session": {
      "post": {
        "tags": ["Auth"],
        "summary": "세션 갱신",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": { "description": "세션 갱신 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/reports": {
      "get": {
        "tags": ["HackReport"],
        "summary": "핵 신고 목록 조회",
        "parameters": [
          { "name": "sort", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "신고 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": { "type": "array", "items": { "$ref": "#/components/schemas/Report" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["HackReport"],
        "summary": "핵 신고 등록",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nickname", "hackTypes"],
                "properties": {
                  "barracksAddress": { "type": "string" },
                  "nickname": { "type": "string" },
                  "hackTypes": { "type": "array", "items": { "type": "string" } },
                  "description": { "type": "string" },
                  "evidences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "신고 등록 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Report" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/reports/{id}": {
      "get": {
        "tags": ["HackReport"],
        "summary": "핵 신고 상세 조회",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "신고 상세",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Report" },
                    {
                      "type": "object",
                      "properties": {
                        "votes": { "type": "array", "items": { "$ref": "#/components/schemas/Vote" } },
                        "comments": { "type": "array", "items": { "$ref": "#/components/schemas/Comment" } },
                        "adminHistory": { "type": "array", "items": { "type": "object" } }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["HackReport"],
        "summary": "핵 신고 삭제 (본인만)",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "삭제 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["HackReport"],
        "summary": "핵 신고 수정",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": { "type": "string" },
                  "hackTypes": { "type": "array", "items": { "type": "string" } },
                  "evidences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "수정 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/reports/{id}/vote": {
      "post": {
        "tags": ["HackReport"],
        "summary": "핵 신고 투표",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["voteType"],
                "properties": {
                  "voteType": { "type": "string", "enum": ["AGREE", "DISAGREE"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "투표 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/reports/{id}/comment": {
      "post": {
        "tags": ["HackReport"],
        "summary": "핵 신고 댓글 작성",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "댓글 작성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Comment" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/reports/{id}/evidence": {
      "get": {
        "tags": ["HackReport"],
        "summary": "추가 증거 목록 조회",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "증거 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evidences": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["HackReport"],
        "summary": "추가 증거 제출",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "evidences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "증거 제출 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/reports/check-duplicate": {
      "post": {
        "tags": ["HackReport"],
        "summary": "중복 신고 확인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nickname"],
                "properties": {
                  "nickname": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "중복 확인 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "duplicate": { "type": "boolean" },
                    "existingReport": { "$ref": "#/components/schemas/Report" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/manner": {
      "get": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 목록 조회",
        "parameters": [
          { "name": "tagType", "in": "query", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "매너 신고 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": { "type": "array", "items": { "$ref": "#/components/schemas/MannerReport" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 등록",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["barracksAddress", "nickname", "tagTypes"],
                "properties": {
                  "barracksAddress": { "type": "string" },
                  "nickname": { "type": "string" },
                  "tagTypes": { "type": "array", "items": { "type": "string" } },
                  "description": { "type": "string" },
                  "evidences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "매너 신고 등록 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MannerReport" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/manner/{id}": {
      "get": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 상세 조회",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "매너 신고 상세",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MannerReport" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 삭제 (본인만)",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "삭제 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 수정",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": { "type": "string" },
                  "tagTypes": { "type": "array", "items": { "type": "string" } },
                  "evidences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "수정 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/manner/{id}/vote": {
      "post": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 투표",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["voteType"],
                "properties": {
                  "voteType": { "type": "string", "enum": ["AGREE", "DISAGREE"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "투표 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/manner/{id}/comment": {
      "post": {
        "tags": ["MannerReport"],
        "summary": "매너 신고 댓글 작성",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "댓글 작성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Comment" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/profile/me": {
      "get": {
        "tags": ["Profile"],
        "summary": "내 프로필 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "프로필 데이터",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Profile" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "tags": ["Profile"],
        "summary": "내 프로필 수정",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": { "type": "string" },
                  "isProfilePublic": { "type": "boolean" },
                  "notifyBlacklistNickchange": { "type": "boolean" },
                  "notifyFollowBlacklist": { "type": "boolean" },
                  "avatar": { "type": "string", "format": "binary" },
                  "removeAvatar": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "프로필 수정 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/profile/{id}": {
      "get": {
        "tags": ["Profile"],
        "summary": "다른 유저 프로필 조회",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "프로필 데이터",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Profile" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/profile/activity": {
      "get": {
        "tags": ["Profile"],
        "summary": "유저 활동 내역 조회",
        "parameters": [
          { "name": "userId", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "활동 내역",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": { "type": "array", "items": { "$ref": "#/components/schemas/Report" } },
                    "mannerReports": { "type": "array", "items": { "$ref": "#/components/schemas/MannerReport" } },
                    "comments": { "type": "array", "items": { "$ref": "#/components/schemas/Comment" } },
                    "votes": { "type": "array", "items": { "$ref": "#/components/schemas/Vote" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/follow": {
      "post": {
        "tags": ["Social"],
        "summary": "팔로우/언팔로우 토글",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["targetUserId"],
                "properties": {
                  "targetUserId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "팔로우 상태 변경",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/follow/list": {
      "get": {
        "tags": ["Social"],
        "summary": "팔로워/팔로잉 목록 조회",
        "parameters": [
          { "name": "userId", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["followers", "following"] } }
        ],
        "responses": {
          "200": {
            "description": "팔로우 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/blacklist": {
      "get": {
        "tags": ["Social"],
        "summary": "블랙리스트 목록 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "블랙리스트",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blacklist": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BlacklistEntry" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Social"],
        "summary": "블랙리스트 등록",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["barracksAddress", "nickname"],
                "properties": {
                  "barracksAddress": { "type": "string" },
                  "nickname": { "type": "string" },
                  "memo": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "블랙리스트 등록 성공" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/blacklist/check": {
      "get": {
        "tags": ["Social"],
        "summary": "블랙리스트 등록 여부 확인",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          { "name": "barracksAddress", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "확인 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blacklisted": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/sa/search": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "플레이어 닉네임 검색",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "검색할 닉네임" }
        ],
        "responses": {
          "200": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ouid": { "type": "string" },
                          "nickname": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sa/player": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "플레이어 데이터 조회",
        "parameters": [
          { "name": "ouid", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "플레이어 데이터",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Player" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/sa/match": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "매치 상세 조회",
        "parameters": [
          { "name": "match_id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "match_mode", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "매치 상세 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matchId": { "type": "string" },
                    "mode": { "type": "string" },
                    "map": { "type": "string" },
                    "players": { "type": "array", "items": { "type": "object" } },
                    "result": { "type": "object" },
                    "playedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/sa/metadata": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "게임 메타데이터 조회",
        "description": "맵, 모드, 무기 등 게임 메타데이터",
        "responses": {
          "200": {
            "description": "메타데이터",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maps": { "type": "array", "items": { "type": "object" } },
                    "modes": { "type": "array", "items": { "type": "object" } },
                    "weapons": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sa/stats": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "전투력 통계 조회",
        "parameters": [
          { "name": "nexonSn", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "전투력 통계",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "combatPower": { "type": "number" },
                    "stats": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sa/rank-record": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "시즌 랭크 기록 조회",
        "parameters": [
          { "name": "nexonSn", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "seasonId", "in": "query", "schema": { "type": "string" } },
          { "name": "mode", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "시즌 랭크 기록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "seasonId": { "type": "string" },
                          "mode": { "type": "string" },
                          "rank": { "type": "string" },
                          "ratingPoint": { "type": "integer" },
                          "wins": { "type": "integer" },
                          "losses": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sa/map-skill": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "맵별 숙련도 조회",
        "parameters": [
          { "name": "nexonSn", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "맵별 숙련도",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mapSkills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mapId": { "type": "string" },
                          "mapName": { "type": "string" },
                          "skillLevel": { "type": "integer" },
                          "totalGames": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sa/map-stats": {
      "post": {
        "tags": ["SuddenAttack"],
        "summary": "맵 통계 계산",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["matches"],
                "properties": {
                  "matches": { "type": "array", "items": { "type": "object" } },
                  "playerName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "맵 통계 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mapStats": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/barracks/lookup": {
      "post": {
        "tags": ["Barracks"],
        "summary": "병영 주소 조회",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nickname"],
                "properties": {
                  "nickname": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "병영 주소",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "barracksAddress": { "type": "string" },
                    "nickname": { "type": "string" },
                    "nexonSn": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/barracks/profile": {
      "get": {
        "tags": ["Barracks"],
        "summary": "병영 프로필 조회",
        "parameters": [
          { "name": "nexonSn", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "병영 프로필",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nexonSn": { "type": "string" },
                    "nickname": { "type": "string" },
                    "level": { "type": "integer" },
                    "clanName": { "type": "string" },
                    "barracksAddress": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/sa-verification/code": {
      "get": {
        "tags": ["Auth"],
        "summary": "서든어택 인증 코드 발급",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "인증 코드",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/sa-verification/submit": {
      "post": {
        "tags": ["Auth"],
        "summary": "서든어택 인증 제출",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nexonSn"],
                "properties": {
                  "nexonSn": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "인증 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": ["SuddenAttack"],
        "summary": "통합 검색",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "검색 키워드" },
          { "name": "type", "in": "query", "schema": { "type": "string" }, "description": "검색 유형 필터" }
        ],
        "responses": {
          "200": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": { "type": "array", "items": { "type": "object" } },
                    "reports": { "type": "array", "items": { "$ref": "#/components/schemas/Report" } },
                    "mannerReports": { "type": "array", "items": { "$ref": "#/components/schemas/MannerReport" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "tags": ["Upload"],
        "summary": "파일 업로드",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업로드 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "format": "uri" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/checkin": {
      "get": {
        "tags": ["Ranking"],
        "summary": "출석 체크 현황 조회",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "출석 현황",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkedInToday": { "type": "boolean" },
                    "streak": { "type": "integer" },
                    "totalCheckins": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Ranking"],
        "summary": "출석 체크",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "출석 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "streak": { "type": "integer" },
                    "pointsEarned": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/ranking": {
      "get": {
        "tags": ["Ranking"],
        "summary": "랭킹 목록 조회",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "랭킹 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rankings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": { "type": "integer" },
                          "userId": { "type": "string" },
                          "nickname": { "type": "string" },
                          "points": { "type": "integer" },
                          "avatar": { "type": "string" }
                        }
                      }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/internal/blacklist-addresses": {
      "get": {
        "tags": ["Internal"],
        "summary": "블랙리스트 주소 목록 (내부 전용)",
        "security": [{ "internalKey": [] }],
        "responses": {
          "200": {
            "description": "블랙리스트 주소 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/internal/nickname-changed": {
      "post": {
        "tags": ["Internal"],
        "summary": "닉네임 변경 알림 (내부 전용)",
        "security": [{ "internalKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["barracksAddress", "oldNickname", "newNickname"],
                "properties": {
                  "barracksAddress": { "type": "string" },
                  "oldNickname": { "type": "string" },
                  "newNickname": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "처리 완료" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "next-auth.session-token",
        "description": "NextAuth JWT httpOnly cookie"
      },
      "internalKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-internal-key",
        "description": "내부 서비스 간 통신용 API 키"
      }
    },
    "schemas": {
      "Report": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "barracksAddress": { "type": "string" },
          "hackTypes": { "type": "array", "items": { "type": "string" } },
          "description": { "type": "string" },
          "evidences": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["PENDING", "SUSPECT", "PROBABLE", "CONFIRMED", "DISMISSED"] },
          "agreeCount": { "type": "integer" },
          "disagreeCount": { "type": "integer" },
          "commentCount": { "type": "integer" },
          "author": { "$ref": "#/components/schemas/User" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "MannerReport": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "barracksAddress": { "type": "string" },
          "tagTypes": { "type": "array", "items": { "type": "string" } },
          "description": { "type": "string" },
          "evidences": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["PENDING", "CONFIRMED", "REJECTED"] },
          "agreeCount": { "type": "integer" },
          "disagreeCount": { "type": "integer" },
          "commentCount": { "type": "integer" },
          "author": { "$ref": "#/components/schemas/User" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "avatar": { "type": "string" },
          "role": { "type": "string", "enum": ["USER", "ADMIN"] }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "avatar": { "type": "string" },
          "bio": { "type": "string" },
          "isProfilePublic": { "type": "boolean" },
          "notifyBlacklistNickchange": { "type": "boolean" },
          "notifyFollowBlacklist": { "type": "boolean" },
          "points": { "type": "integer" },
          "role": { "type": "string" },
          "verified": { "type": "boolean" },
          "barracksAddress": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "content": { "type": "string" },
          "author": { "$ref": "#/components/schemas/User" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Vote": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "voteType": { "type": "string", "enum": ["AGREE", "DISAGREE"] },
          "userId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Ban": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "userId": { "type": "string" },
          "barracksAddress": { "type": "string" },
          "reason": { "type": "string" },
          "type": { "type": "string", "enum": ["WARNING", "TEMP", "PERMANENT"] },
          "expiresAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "BlacklistEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "barracksAddress": { "type": "string" },
          "nickname": { "type": "string" },
          "memo": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Player": {
        "type": "object",
        "properties": {
          "ouid": { "type": "string" },
          "nickname": { "type": "string" },
          "level": { "type": "integer" },
          "clanName": { "type": "string" },
          "stats": { "type": "object" },
          "recentMatches": { "type": "array", "items": { "type": "object" } }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "totalCount": { "type": "integer" },
          "hasNext": { "type": "boolean" },
          "hasPrev": { "type": "boolean" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "인증 필요",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Unauthorized" }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "권한 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Forbidden" }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Not found" }
              }
            }
          }
        }
      }
    }
  }
}